{% extends 'xena/base.html' %}
{% block content %}

<div class = "query-feeds">
			<form method = "POST" action="/query_check/">{% csrf_token %}
					<input type="text" name="query_field">
					<button type="submit" style="display: block">Make a Query...</button>	
			</form>	
</div>
	
		<ul>
			{% for org in organisation %}
				<li onclick='fun("{{ org.org_name }}")' style="cursor:pointer">{{ org.org_name }}</li>
			{% endfor %}	
		</ul>
		<!-- make ajax request -->
		<script type="text/javascript">
			function fun(org){
				console.log(org);
				text = org;
				var args = {'text': text};

        $http.get("/org/", args).done(function(data) {
            console.log("message: " + data);
        });
			}

		</script>

{% endblock content %}