{% extends 'xena/base.html' %}
{% block content %}
{% load static %}
	<script src="{% static "xena/home.js" %}"></script>
	<img src = "{% static "xena/user.jpg" %}" alt = "User Profile Photo" />
	<a href = "{% url 'xena:logout' %}">Logout</a>
	<div class = "user-info">
		{{ content.user.firstname }} {{ content.user.lastname}}
		{{ content.user.address }}		
	</div>
	<div class  = "common-feeds">
		<ul>
			{% for view in views %}
				<li>{{ content.views }}</li>
				<li>{{ content.views.comment.all }}</li>
			{% endfor %}
		</ul>
	</div>
	<div class = "user-feeds">
		<div class = "personal-feeds">
			<form method = "POST">
				{{ view_form.as_p }}		
		</div>
		<div class = "community-feeds">
			<form method = "POST">
				{{ comment_form.as_p }}
		</div>
	</div>
{% endblock content %}
