{% extends 'xena/base.html' %}
{% block content %}
{% load static %}
	<script src="{% static "xena/home.js" %}"></script>
	<img src = "{% static "xena/user.jpg" %}" alt = "User Profile Photo" />
	<a href = "{% url 'xena:logout' %}">Logout</a>
	<div class = "user-info">
		{{ content.user.firstname }} {{ content.user.lastname}}
		{{ content.user.address }}		
	</div>
	<div class  = "common-feeds">
		<ul>
			{% for view in views %}
				<li>{{view.userview  }} : {{ view }}</li>
				<ul>
				{% for comment in view.comment_set.all %}
					<li> {{ comment.usercomment }} : {{ comment }} </li>
				
				{% endfor %}	
				</ul>
			<div class = "community-feeds">
			<form method = "POST" action="/comment_save/" >{% csrf_token %}
			<input type=text name="comment_view" value="{{view.id}}" style="display:none;"></input>	
			<input type=text name="comment"></input>	
	<button type="submit">Comment</button></form>		
</div>
	</div>
			{% endfor %}
		</ul>
	</div>
	<div class = "user-feeds">
		<div class = "personal-feeds">
			<form method = "POST" action="view_save">{% csrf_token %}
				{{ view_form.as_p }}					<button type="submit">Add View </button>	
	</form>	
	</div>
	
{% endblock content %}
